.card{
    margin: 1.5%;
}
.card .title{
    color: white;
    text-align: center;
}
.chart{
    position: relative;
    bottom: 5%;
}
@media(max-width: 768px){
.card .title{
    text-align: left;
    font-size: 20px;
}
}